{% extends "rc/base.html" %}
{% load static %}
{% block content %}
<!-- Page content -->
<div class="background" style="padding-left: 270px; background-color: white;">
  <h1 class="display-2 text-black" style="color: #48aaff;">Change Password</h1>
  <div class="row">
    <div class="col-xl-4 order-xl-2">




    </div>
  </div>

<div class="col-xl-8 order-xl-1" style="margin-left: 200px;">
  <div class="card">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col-8">
          <h3 class="mb-0">Enter Password </h3>
        </div>

      </div>
    </div>
    <div class="card-body">
      <form method="POST" action="{% url 'rc_change_password' %}">
        {% csrf_token %}
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-10">
              <div class="form-group">
                <label class="form-control-label">Old Password</label>
                <input type="password" class="form-control" name="op" placeholder="Enter Old Password"
                  style="color: #172b4d;">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-10">
              <div class="form-group">
                <label class="form-control-label">New Password</label>
                <input type="password" class="form-control" name="np" placeholder="Enter New Password"
                  style="color: #172b4d;">
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-lg-10">
              <div class="form-group">
                <label class="form-control-label">Confirm Password</label>
                <input type="password" class="form-control" name="cp" placeholder="Enter Confirm Password"
                  style="color: #172b4d;">
              </div>
            </div>

          </div>



        </div>

    </div>

    <hr class="my-4" />

    <div class="form-group">
      <center> <button type="submit" class="btn btn-primary btn-block" style="width: 241px;"> Change
          Password</button></center>
    </div>

    </form>
  </div>
</div>
</div>



{% if msg %}
{% ifequal msg 'Your Password Changed Succsessfully!!!' %}
<script>
  Swal.fire(
    '',
    '{{msg}}',
    'success'
  )
</script>
{% else %}
<script>
  Swal.fire(
    '',
    '{{msg}}',
    'error'
  )
</script>
{% endifequal %}
{% endif %}

{% endblock content %}