
  {% extends "rc/base.html" %}
  {% load static %}
  {% block content %}
   
  

<style>
  .container {
padding: 2rem 0rem;
}

h4 {
margin: 2rem 0rem 1rem;
}

.table-image {
td,th {
  vertical-align: middle;
}
}
</style>

 <!-- Core -->


 <div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Orders</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Product Orders</li>
            </ol>
          </nav>
        </div>
       
      </div>
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <!-- Card body -->
          
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <!-- Card body -->
           
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <!-- Card body -->
            
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <!-- Card body -->
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
  </div>
  <div class="row">
    <div class="col-xl-8">
      <div class="card" style="width: 153%;">
        <div class="card-header border-0" style="margin-top: -54px;height: 676px;">
          <div class="row align-items-center">
           <!-- Any Thing Write Here -->
     {% if rc.Is_Subscription_Active == True %}
     {% if order_product %}
           <div class="container">
            <div class="row">
              <div class="col-12">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Product Name</th>
                      <th scope="col">Product Image</th>
        
                      <th scope="col">Ordre Date</th>
                      <th scope="col">Price</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">View</th>
                    </tr>
                  </thead>
                  <tbody>
                   
                    {% for i in order_product %}
                    <tr>
                      <th scope="row">{{i.Order.id}}</th>
                      <td>{{i.Product.Product_Name}}</td>
                      <td>
                        <div class="row">
        
                          <div class="user-img pull-left" style="margin-left: 33px;padding-left: 20px;"><img
                              src="{{i.Product.Product_Img.url}}"
                              class="img-circle img-responsive" alt="User Image" style="height: 90px;"> </div>
        
                      </td>
                      <td>{{i.Order.Datetime_of_payment}} </td>
                      <td>{{i.Price}} Rs. </td>
                      <td>{{i.Quantity}}</td>
                      <td>
                        <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
        
                      </td>
                    </tr>
                    
                    {% endfor %}
                              
                   
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          {% else %}
          <center><h3> There Is No Orders From Customer!!</h3></center>

          {% endif %} 
          {% else %}
          <center> <h3>
            <div style="padding-left: 850px;padding-bottom: 20px;">
                      
              <button type="button" onclick="document.location='{% url 'rc_pricing' %}'"
              class="btn btn-labeled btn-danger" style="height: 45px;width: 170px;">
              <!-- <div style="padding-left: 909px;"><button type="button" onclick="{% url 'rc_add_product' %}" class="btn btn-labeled btn-success" style="height: 45px;"> -->
              <span class="btn-label "><i class="fa fa-unlock-alt" style="padding-right: 10px;"></i></span>Unlock Feature</button>
            </div>
            Oops...! You Didn't Purchase Subscription yet... Purchase Subscription To Unlock Thie Feature.
           </h3>
          </center>
              {% endif %}
              
         
          </div>
        </div>
        
      </div>
    </div>
  
  </div>
 {% endblock content %}
