
{% extends "rc/base.html" %}
{% load static %}
{% block content %}
   
  

<style>
  .container {
padding: 2rem 0rem;
}

h4 {
margin: 2rem 0rem 1rem;
}

.table-image {
td,th {
  vertical-align: middle;
}
}
</style>
<div class="background" style="padding-left: 270px; background-color: white;">
  <h1 class="display-2 text-black" style="color: #48aaff;">Product Ordres</h1>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Product Name</th>
              <th scope="col">Product Image</th>

              <th scope="col">Ordre Date</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">View</th>
            </tr>
          </thead>
          <tbody>
            {% if order_product %}
            {% for i in order_product %}
            <tr>
              <th scope="row">{{i.Order.id}}</th>
              <td>{{i.Product.Product_Name}}</td>
              <td>
                <div class="row">

                  <div class="user-img pull-left" style="margin-left: 33px;padding-left: 20px;"><img
                      src="{{i.Product.Product_Img.url}}"
                      class="img-circle img-responsive" alt="User Image" style="height: 90px;"> </div>

              </td>
              <td>{{i.Order.Datetime_of_payment}} </td>
              <td>{{i.Price}} Rs. </td>
              <td>{{i.Quantity}}</td>
              <td>
                <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>

              </td>
            </tr>
            
            {% endfor %}
            {% endif %}           
           
          </tbody>
        </table>
      </div>
    </div>
  </div>
      
 
</div>

 <!-- Core -->
 {% endblock content %}
