{% extends "app/base.html" %}
{% load static %}


{% block content %}

<title> About </title>
<div  class="hero-wrap hero-bread" style="margin-top: 80px;background-image: url({% static 'app/images/a.png' %});">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread" style="color: #82ae46; ">About us</h1>
            </div>
        </div>
    </div>
</div>


<section class="ftco-section ftco-no-pb ftco-no-pt bg-light" style="margin-top: 90px;">
    <div class="container">
        <div class="row">
            <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center"
                style="background-image: url({% static 'app/images/stab1.jpg' %});">



            </div>
            <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
                <div class="heading-section-bold mb-4 mt-md-5">
                    <div class="ml-md-0">
                        <h2 class="mb-4">Why The Next Gen Scrap?</h2>
                    </div>
                </div>
                <div class="pb-md-5">
                    <p> Next Gen Scrap is All-in-One solution for scrap sales at your door step. Our aim is to give you the
                        hassle-free solution for scrap sales where you can contact us online by filling a simple form to
                        schedule your pickup.</p>
                    <p>Rate cards are pre-defined which the seller can check online so means you're not needed to have
                        any bargain at the time when we pick the scrap. We deal in every kind of the scrap so you can
                        contact us even if the scrap category is not defined on the rate card.</p>
                   
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section testimony-section">

    <div class="container">
        <div class="row">
            <div class="row home-tile">
                <div class="col-sm-6 home-title-text">
                    <div class="row">
                        <h2>Debunking the mythologies of Scrap business in India.</h2>
                        <p>India is a painstaking importer of scrap from other neighboring countries, this
                            comes
                            to a pause. As we be familiar with our population and raw material
                            lashes out the world, we have a high quantity- productivity of scrap, but
                            again a messy and unorganized business layout in this traditional market
                            us down. So, our team very well analyzed the fact in numbers and took an
                            step towards shaping an unorganized scrap business environment.</p>
                    </div>
                </div>
                <div class="col-sm-6 home-tile-graphics">
                    <div class="center home-grid"><img src="{% static 'app/images/garbage.png' %}"
                            alt="Making a change">
                    </div>
                </div>
            </div>
            <div class="row home-tile">
                <div class="col-sm-6 home-tile-graphics">
                    <div class="center home-grid"><img style="margin-left: 53%;"
                            src="{% static 'app/images/compost.png' %}" alt="Technological touch to traditional ways"
                            class="right home-grid"></div>
                </div>
                <div class="col-sm-6 home-title-text">
                    <div class="row">
                        <h2>How we engage traditional scrap vendors?</h2>
                        <p>Traditional scrap vendors work with chock-full hardships, but the capital they
                            gain
                            exchange of that is very poor or underprivileged. So, we firmly decided to
                            them with our Startup to form a strong workforce on field &amp; outfield.
                            Hindi- Lingual mobile application for our vendors to facilitate the ease of
                            communication with our customers to arrange a time-saving pick up solution.</p>
                    </div>
                </div>
            </div>
            <div class="row home-tile">
                <div class="col-sm-6 home-title-text">
                    <div class="row">
                        <h2>Money-making scrap market for vendors &amp; customers.</h2>
                        <p>Our vendors &amp; customers are surprised with the money worth outcomes we
                            integrating our customized approach to master the world of Kabadiwala
                            some unique attitude for revolving waste into a mutual benefiting cash cow.
                            customers are satisfied with curiosity to come back again.</p>
                    </div>
                </div>
                <div class="col-sm-6 home-tile-graphics">
                    <div class="center home-grid"><img src="{% static 'app/images/shredder.png' %}"
                            alt="less effort, more money" class="home-grid"></div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}