{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Customer Login OTP Verification  </title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->	
		<link rel="icon" type="image/png" href="{% static 'loginassets/images/icons/favicon.png' %}"/>
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{% static 'loginassets/vendor/bootstrap/css/bootstrap.min.css' %}">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{% static 'loginassets/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{% static 'loginassets/vendor/animate/animate.css' %}">
	<!--===============================================================================================-->	
		<link rel="stylesheet" type="text/css" href="{% static 'loginassets/vendor/css-hamburgers/hamburgers.min.css' %}">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{% static 'loginassets/vendor/select2/select2.min.css' %}">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="{% static 'loginassets/css/util.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'loginassets/css/main.css' %}">
	<!--===============================================================================================-->
	</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="{% static 'loginassets/images/logo.png' %}" alt="IMG">
				</div>
<!-- <p>THIS IS OK</p> -->
				{% if obj %}
				<form class="login100-form validate-form" method="POST" action="{% url 'verify_OTP' key=obj.id %}">
				{% csrf_token %}
					<span class="login100-form-title">
						OTP Verification
					</span>
					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="cotp" placeholder="Enter OTP">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-shield" aria-hidden="true"></i>
						</span>
					</div>
					
					<!-- CUSTOM OTP -->
					<!-- <input type="hidden" name="uid" value={{newUser.id}}> -->
					<!--  -->
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" >
							Verify OTP
						</button>
					</div>
					
					<div class="mx-auto" style="width: 200px;height: 150px;">

					</div>
					
				</form>
				{% endif %}

				{% if msg %}
				<p>{{msg}}</p>
				{% endif %}
			</div>
			<div class="alert alert-warning" style="border-radius: 40px; padding-bottom: 13px;">
				<div class="container">
				  <div class="alert-icon">
					<i class="material-icons">warning</i>
				  </div>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true"><i class="material-icons" style="padding-left: 16px;">close</i></span>
				  </button>
				   You have Entered Incorect Password
				</div>
		    </div>
		</div>
	</div>
	
	

	
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<!--===============================================================================================-->	
<script src="{% static 'loginassets/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'loginassets/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'loginassets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'loginassets/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'loginassets/vendor/tilt/tilt.jquery.min.js' %}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static 'loginassets/js/main.js' %}></script>
</body>
</html>