{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Signup As </title>
	<link rel="icon" type="image/png" href="{% static 'images/logo.png' %}" />


	<link rel="stylesheet" type="text/css" href="{% static 'buttonassets/css/default.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'buttonassets/css/component.css' %}" />
<title>Signup As</title>
</head>

<body>
	<div class="container">

		<section class="color-4" style="height: 625px;">
			<h1 style="font-family:  sans-serif; font-size: 58px">Create My Account As</h1>
			<p style="padding-top: 25px;">
				<form action="{% url 'enter_email' %}" method="post">
					{% csrf_token %}
					<input type="hidden" name="roleh" value="customer">
					<button class="btn btn-4 btn-4c icon-arrow-right" style="width: 330.61px;">Customer</button>
				</form>

				<form action="{% url 'enter_email' %}" method="post">
					{% csrf_token %}
					<input type="hidden" name="roleh" value="business">
					<button class="btn btn-4 btn-4c icon-arrow-right">Business Partner</button>
				</form>
				
			</p>
		</section>

	</div>


</body>

</html>