{% extends "ecom/base1.html" %}
{% load static %}

<title>Cart</title>
{% block content %}
<hr>

<section class="ftco-section contact-section ">
    <div class="container">
        
        <section class="ftco-section ftco-cart">
            
            <div class="container">
                
                <div class="row">
                    <div class="col-md-12 ftco-animate">
                        <div class="cart-list">
                            {% if cust_cart %}
                            <table class="table">
                                <thead class="thead-primary">
                                    <tr class="text-center">
                                        
                                        <th>Product Image</th>
                                        <th>Product Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>

                                    </tr>
                                </thead>
                                <tbody>
                                   
                                    {% for i in cust_cart %}
                                    <tr class="text-center">
                                       
    
                                        <td class="image-prod">
                                            <div class="img" style="background-image:url({{i.Product.Product_Img.url}});"></div>
                                        </td>
    
                                        <td class="product-name">
                                            <h3>{{i.Product.Product_Name}}</h3>
                                            <p>{{i.Product.Product_Desc}}</p>
                                        </td>
                                        <td class="total"> ₹ {{i.Product.Product_Price}}/Per Item</td>
                                        
    
                                        <td>
                                            
                                                <!-- <input type="text" name="quantity"
                                                    class="quantity form-control input-number" value="{{i.Quantity}}" min="1" max="100"> -->
                                                    <form action="{% url 'edit_order' key=i.id %}" method="post">
                                                        {% csrf_token %}
                                                    <div class="input-group mb-3 input-spinner"> 
                                                        
                                                            <div class="input-group-prepend">
                                                                <button type="submit" name="update_plus" style="width: 50px;">+</button>
                                                                <!-- <button type="submit" onclick="return confirm('Do you want to update quantity?');" name="update_plus">+</button> -->
                                                                <!-- <button class="btn btn-light" type="submit" onclick="return confirm('Do you want to update quantity?');" name="update_plus">+</button> -->
                                                            </div>
                                                            <input type="text" class="quantity form-control input-number" value="{{i.Quantity}}"  name="Quant">
                                                            <div class="input-group-append">
                                                                <button type="submit" name="update_minus" style="width: 50px;">&minus;</button>
                                                                <!-- <button type="submit" onclick="return confirm('Do you want to update quantity?');" name="update_minus">&minus;</button> -->
                                                                <!-- <button class="btn btn-light" type="button" id="button-minus">&minus;</button> -->
                                                            </div>
                                                        
                                                    </div>
                                                </form>
                                                <a href="{% url 'remove_cart_item' key=i.id %}" style="border-radius: 5px;" onclick="return confirm('Are you sure you want to remove this item from cart?');" class="btn btn-light"> Remove</a>
            
                                          
                                        </td>
                                        <td class="price">₹ {{i.Total_Amount}}</td>
                         
                                        
                                    </tr><!-- END TR-->
    
                                  {% endfor %}
                                        
     
                                </tbody>
                            </table>
                            {% else %}
                            <h3>There Is No Products In Your Cart</h3>
                            {% endif %}
                        </div>
                        <div class="card-body border-top" style="padding-top: 5%;">
                            {% if cust_cart %}
                            <a style="border-radius: 50px;height: 40px;" href="{% url 'checkout' %}" class="btn btn-primary float-md-right"> Make Purchase <i
                                    class="fa fa-chevron-right"></i> </a>
                                    {% endif %}
                            <a href="{% url 'index' %}" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Continue shopping </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
    </div>
</section>

<!-- <script>
    $('Quant').change(function() {
        console.log("THIS FIRED");
    $(this).closest('form').submit();
})
</script> -->

{% endblock content %}