{% extends "ecom/base.html" %}
{% load static %}


{% block content %}
<title>Change Password</title>
<section class="section-content padding-y bg">
  <div class="container"
  style="margin-right: 246px;background-color: white;width: 800px;height: 475px;border-radius: 8px;">
    <div class="container" style="margin-right: 20px;">

      <div class="row" style="margin-left: 20px;padding-top: 33px;height: 460px;">



        <!-- ============================ COMPONENT PROFILE  ================================= -->
        <div class="card mb-4" style="margin-left: 20px;padding-top: 33px;width: 92%;">
          <div class="card-body">
            <h4 class="card-title mb-4" style="margin-left: 35%;">Change Password</h4>
            <form method="POST" action="{% url 'change_password' %}">

              {% csrf_token %}


            
              <div class="form-row">
                <div class="col-lg-8">
                  <label>Old Password</label>
                  <input type="password" name="op" class="form-control" value="" d>
                </div> <!-- form-group end.// -->
              </div>
              <div class="form-row" style="padding-top: 13px;">
                <div class="col-lg-8">
                  <label>New Password</label>
                  <input type="password" class="form-control" name="np" value="">
                </div> <!-- form-group end.// -->
              </div>
              <div class="form-row" style="padding-top: 13px;">
                <div class="col-lg-8">
                  <label>Confirm Password</label>
                  <input type="password" class="form-control" name="cp" value="">
                </div> <!-- form-group end.// -->
              </div>
          </div> <!-- card-body.// -->
          <button type="submit" class="btn btn-primary btn-block" style="width: 40%;margin-left: 31%;margin-bottom: 22px;">change Password</button>
        </div> <!-- card .// -->
        
        <!-- ============================ COMPONENT PROFILE END.// ================================= -->



      </div> <!-- container .//  -->
    </div>
  </form>
  {% if msg %}
        {% ifequal msg 'Your Password Changed Succsessfully!!!' %}
            <script>
              Swal.fire(
                '',
                '{{msg}}',
                'success'
              )
            </script>
            {% else %}
            <script>
              Swal.fire(
                '',
                '{{msg}}',
                'error'
              )
            </script>
            {% endifequal %}
    {% endif %}
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}