{% extends "ecom/base1.html" %}
{% load static %}


{% block content %}
<title>Order Detail</title>
<hr>
<section class="section-pagetop bg">
  <div class="container">

    <section class="section-pagetop bg">
      <div class="container">
          <h2 class="title-page" style="padding-top: 4%;padding-bottom: 3%;">Order Detail</h2>
      </div> <!-- container //  -->
  </section>

  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            
            <th scope="col">Product Name</th>
            <th scope="col">Product Image</th>

            <th scope="col">Ordre Date</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            
            
            
  
          </tr>
        </thead>
        <tbody>
          {% if order_product %}
          {% for i in order_product %}
          <tr>
            
            <td>{{i.Product.Product_Name}}</td>
            <td>
              <div class="row">

                <div class="user-img pull-left" style="margin-left: 33px;padding-left: 20px;"><img
                    src="{{i.Product.Product_Img.url}}"
                    class="img-circle img-responsive" alt="User Image" style="height: 90px;"> </div>

            </td>
            <td>{{i.Order.Datetime_of_payment}} </td>
            <td>{{i.Quantity}}</td>
            <td>{{i.Price}} Rs. </td>
            
           
        
          </tr>
          
          {% endfor %}
          {% endif %}           
         
        </tbody>
      </table>
    </div>
  </div>

  </div>
</section>

<br><br><br><br><br>

{% endblock content %}