{% extends "ecom/base.html" %}
{% load static %}


{% block content %}
<section class="section-content padding-y bg">
  <div class="container"
    style="margin-right: 118px;background-color: white;width: 1079px;height: 893px;border-radius: 8px;">
    <div class="container" style="margin-right: 20px;">

      <div class="row" style="margin-left: 20px;padding-top: 28px;">



        <!-- ============================ COMPONENT PROFILE  ================================= -->
        <div class="card mb-4" style="border-radius: 8px;">
          <div class="card-body">
            <h4 class="card-title mb-4">Edit Profile</h4>
            <form method="POST" action="{% url 'customer_update_profile' %}" enctype="multipart/form-data">

              {% csrf_token %}

              <h6 class="heading-small text-muted mb-4">Basic information</h6>
              <div class="form-row">

                <div class="col form-group">
                  <label>First Name</label>
                  <input type="text" name="fname" class="form-control" value="{{customer.Firstname}}">
                </div> <!-- form-group end.// -->
                <div class="col form-group">
                  <label>Last Name</label>
                  <input type="text" name="lname" class="form-control" value="{{customer.Lastname}}">
                </div> <!-- form-group end.// -->

              </div> <!-- form-row.// -->
              <div class="form-row">
                <div class="form-group">
                  <label class="form-control-label" for="input-email">Profile Picture</label>
                  <input type="file" id="fileInput" name="profile_pic" class="form-control"
                    style="border-color: white;" onchange="preview_propic(this);" />
                </div>
              </div> <!-- form-row.// -->
              <hr class="my-4" />
              <h6 class="heading-small text-muted mb-4">Contact information</h6>
              <div class="form-row">
                <div class="col-lg-8">
                  <label>Email</label>
                  <input type="email" name="email" class="form-control" value="{{user.Email}}" disabled>
                </div> <!-- form-group end.// -->
              </div>
              <div class="form-row" style="padding-top: 13px;">
                <div class="col-lg-8">
                  <label>Contect</label>
                  <input type="text" class="form-control" name="contact" value="{{customer.Contact}}">
                </div> <!-- form-group end.// -->
              </div>
              <hr class="my-4" />
              <h6 class="heading-small text-muted mb-4">Address</h6>
              <div class="form-row">
                <div class="col form-group">
                  <label>Address</label>
                  <input type="text" class="form-control" name="add" value="{{customer.Address}}">
                </div> <!-- form-group end.// -->
              </div>
              <div class="form-row">

                <div class="col form-group">
                  <label>City</label>
                  <input type="text" class="form-control" name="city" value="{{customer.City}}">
                </div> <!-- form-group end.// -->
                <div class="col form-group">
                  <label>State</label>
                  <input type="text" class="form-control" name="state" value="{{customer.State}}">
                </div> <!-- form-group end.// -->
                <div class="col form-group">
                  <label>Pin Code</label>
                  <input type="text" class="form-control" name="pincode" value="{{customer.Pincode}}">
                </div> <!-- form-group end.// -->
              </div>






          </div> <!-- card-body.// -->
        </div> <!-- card .// -->

        <!-- ============================ COMPONENT PROFILE END.// ================================= -->


        <div class="card mb-4" style="margin-left: 15px;height: 383px;">
          <div class="card-body">


            <div class="form-group">
              {% ifequal customer.Profile_Pic "" %}
              <img src="{% static 'images/user.png' %}" name="profile_pic" style="height: 200px; width: 200px;"
                class="img-sm rounded-circle border" id="preview_propic_img" />
              {% else %}
              <img src="{{customer.Profile_Pic.url}}" name="profile_pic" style="height: 200px; width: 200px;"
                class="img-sm rounded-circle border" id="preview_propic_img" />
              {% endifequal %}

            </div>

            <div class="text-center">
              <h5 class="h3">
                {{customer.Firstname}} {{customer.Lastname}}<span class="font-weight-light"></span>

              </h5>

            </div>
            {% ifequal customer.City "" %}
            {% else %}

            <div class="text-center">

              {{customer.City}} , {{customer.State}}<span class="font-weight-light"></span>
              {% endifequal %}


            </div>


            <div class="text-center">

              {{customer.Email}}<span class="font-weight-light"></span>

            </div>
            <div class="text-center">
              {% ifequal customer.Contact 0 %}
              {% else %}
              +91{{customer.Contact}} <span class="font-weight-light"></span>
              {% endifequal %}
              <input type="button" class="btn btn-primary btn-block mx-auto" value="Upload Profile Picture"
                onclick="document.getElementById('fileInput').click();" style="margin-top: 98px;" />
            </div>
          </div> <!-- card-body.// -->

        </div> <!-- card .// -->
        <button type="submit" class="btn btn-primary btn-block" style="width: 20%;margin-left: 40%;"> Update Profile
        </button>
        </form>
      </div> <!-- container .//  -->
    </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}