<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <title>Document</title>
</head>
<body>
  <h1>{{status}}</h1>
    {% ifequal status "True" %}
			<script>
				Swal.fire(
					'',
					'Your Order Placed Successfully',
					'success'
				)
			</script>
			{% else %}
			
			<script>
				Swal.fire(
					'',
					'Sorry Payment Faild',
					'error'
				)
			</script>
	{% endifequal %}
</body>
</html>