{% extends "ecom/base1.html" %}
{% load static %}


{% block content %}
<title>Select Area</title>
<hr>
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page" style="padding-top: 4%;padding-bottom: 3%;">Select Area</h2>
    </div> <!-- container //  -->
</section>
<div class="card mb-3" style="width: 83%;margin-left: 9%;margin-top: 17px;">
    <article class="card-body">
        <header class="mb-4">
       <center>     <h5 class="card-title">Select Your Area</h5>
        <div style="height: 20px;"></div>

       <form method="POST" action="{% url 'select_scrap_collector' %}">
        {% csrf_token %}
        <select class="form-control" name="area" data-toggle="select" style="width: 280px;border-radius: 5px;" >
            {% for i in areas %}
           
            <option>{{i.Name}}</option>
            {% endfor %}         
        </select>
        <div style="height: 30px;"></div>
        <button type="submit" class="btn btn-primary" style="width: 100px;">Next</button>

      </form>
    </center>
        </header>
        
      
</div> <!-- card.// -->
<br><br><br><br>    
{% endblock content %}