{% extends "ecom/base.html" %}
{% load static %}


{% block content %}
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page">Shipping Detail</h2>
    </div> <!-- container //  -->
</section>
<div class="card mb-3" style="width: 83%;margin-left: 9%;margin-top: 17px;">
    <article class="card-body">
        <header class="mb-4">
            <h4 class="card-title">Shipping Address</h4>
        </header>
        
        
    </article> <!-- card-body.// -->
    <article class="card-body border-top">
        <h6 class="heading-small text-muted mb-4">Address</h6>
        <div class="form-row">
          <div class="col form-group">
            
            <input type="text" class="form-control" name="add" value="{{customer.Address}}">
          </div> <!-- form-group end.// -->
        </div>
        <div class="form-row">

          <div class="col form-group">
            <label>City</label>
            <input type="text" class="form-control" name="city" value="{{customer.City}}">
          </div> <!-- form-group end.// -->
          <div class="col form-group">
            <label>State</label>
            <input type="text" class="form-control" name="state" value="{{customer.State}}">
          </div> <!-- form-group end.// -->
          <div class="col form-group">
            <label>Pin Code</label>
            <input type="text" class="form-control" name="pincode" value="{{customer.Pincode}}">
          </div> <!-- form-group end.// -->
        </div>


        <h6 class="heading-small text-muted mb-4">Contact information</h6>
              <div class="form-row">
                <div class="col-lg-8">
                  <label>Email</label>
                  <input type="email" name="email" class="form-control" value="{{user.Email}}">
                </div> <!-- form-group end.// -->
              </div>
              <div class="form-row" style="padding-top: 13px;">
                <div class="col-lg-8">
                  <label>Phone Number</label>
                  <input type="text" class="form-control" name="contact" value="{{customer.Contact}}">
                </div> <!-- form-group end.// -->
              </div>
              <input type="text" name="order_id" value="{{order_id}}">
              <center > <div style="padding-top: 20px;"> 
                <form action="{% url 'success' %}" method="POST">
                {% csrf_token %}
                <script
                    src="https://checkout.razorpay.com/v1/checkout.js"
                    data-key="rzp_test_UtV7JVYk3ROncb" 
                    data-amount="{% widthratio amount 1 100 %}" 
                    data-currency="INR"
                    data-order_id="{{payment.id}}"
                    data-buttontext="Pay Now"
                    data-description="Easy To reuse Scrap"
                    data-prefill.name="{{customer.Firstname}}"
                    data-prefill.email="{{user.Email}}"
                    data-theme.color="#528FF0"
                ></script>  
                </form></div>
            </center> 

    </div> <!-- card-body.// -->
   
  </div> <!-- card .// -->
        <!-- <dl class="row">
            <dt class="col-sm-10">Subtotal: <span class="float-right text-muted">{{item}} items</span></dt>
            <dd class="col-sm-2 text-right"><strong>₹{{sub_total}}</strong></dd>

           

            <dt class="col-sm-10">Delivery charge: <span class="float-right text-muted">Express delivery</span></dt>
            <dd class="col-sm-2 text-right"><strong>₹40</strong></dd>

            
            <dt class="col-sm-10">Total:</dt>
            <dd class="col-sm-2 text-right"><strong class="h5 text-dark">₹{{total}}</strong></dd>
        </dl> -->

     
         
    </article> <!-- card-body.// -->


  
    <!-- <form class="text-center border border-light p-5" actiom="success.html" method="POST">
        {% csrf_token %}

      
        
        <script src="https://checkout.razorpay.com/v1/checkout.js" 
          data-key="rzp_test_UtV7JVYk3ROncb" 
          data-amount="50000" 
          data-currency="INR"
          data-order_id="{{payment.id}}"
         
          data-name="Next Gen Scrap"
          data-description="A Wild Sheep Chase is the third novel by Japanese author Next Gen scrap"
          data-image="https://ibb.co/vhw9Tz3" data-prefill.name="{{customer.Firstname}}"
          data-prefill.email="{{user.Email}}" data-theme.color="#528FF0"></script>

        <input type="submit" value="Pay">
      </form> -->
      
</div> <!-- card.// -->

{% endblock content %}